openapi: 3.0.3
info:
  title: The Guardian Content Editions API
  description: The Guardian's Open Platform Content API provides free access to all content published on theguardian.com. Search for articles, browse sections and tags, retrieve specific content items, and access edition-specific content. Supports filtering by date, section, tag, and more.
  version: 2.0.0
  contact:
    name: The Guardian Open Platform
    url: https://open-platform.theguardian.com/
  termsOfService: https://open-platform.theguardian.com/access/
  x-jentic-source-url: https://open-platform.theguardian.com/
servers:
- url: https://content.guardianapis.com
  description: Guardian Content API Production Server
security:
- apiKeyQuery: []
tags:
- name: Editions
  description: Browse Guardian editions (UK, US, AU, International, Europe)
paths:
  /editions:
    get:
      operationId: getEditions
      summary: List all editions
      description: Retrieve all Guardian editions (UK, US, Australia, International, Europe).
      tags:
      - Editions
      responses:
        '200':
          description: Successful response with editions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditionsResponse'
components:
  schemas:
    Edition:
      type: object
      properties:
        id:
          type: string
          description: Edition identifier (uk, us, au, international, europe)
        path:
          type: string
        edition:
          type: string
        webTitle:
          type: string
        webUrl:
          type: string
          format: uri
        apiUrl:
          type: string
          format: uri
    EditionsResponse:
      type: object
      properties:
        response:
          type: object
          properties:
            status:
              type: string
            userTier:
              type: string
            total:
              type: integer
            results:
              type: array
              items:
                $ref: '#/components/schemas/Edition'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: API key obtained from https://open-platform.theguardian.com/access/. A test key 'test' is available for development.
